.scroll-arrow {
  @include hide-text;
  @include link-colors(colour(white), colour(hover), colour(highlight), colour(white), colour(hover));
  display: block;
  height: rem(45);
  outline: none;
  position: relative;
  width: rem(45);
    
  &:after {
    @include single-text-shadow;
    content: "\f13a";
    display: block;
    font-family: $icon-font;
    font-size: rem(45);
    height: rem(45);
    left: 0;
    text-indent: rem(4);
    position: absolute;
    top: 0;
    width: rem(45);
  } // :before
    
} // .scroll-arrow