.social-links {
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include single-text-shadow;
  font-size: rem(30);
  margin-bottom: $base-spacing;
  
  li {
    margin-left: rem(30);
    
    &:first-of-type {
      margin-left: 0;
    } // first-of-type
    
  } // li
  
  a {
    @include hide-text;
    @include link-colors(colour(white), colour(hover), colour(highlight), colour(white), colour(hover));
    display: block;
    height: rem(30);
    outline: none;
    position: relative;
    width: rem(30);
    
    @each $social-media, $icon in $social-media {

      &[href*="#{$social-media}"] {
    
        &:after {
          content: "#{$icon}";
          display: block;
          font-family: $icon-font;
          height: rem(30);
          left: 0;
          text-indent: rem(4);
          position: absolute;
          top: 0;
          width: rem(30);
        } // :before
    
      } // &[href*="#{$blog}"]
    
    } // each
    
  } // a link-colors($normal, $hover, $active, $visited, $focus)
  
} // .social-links


