.hero {
  @include align-items(center);
  @include display-flex;
  @include flex-flow(column wrap);
  @include justify-content(center);
  height: 100vh;
  margin: 0 auto;
  max-width: rem($phone-portrait) - rem($base-spacing);
  
  @include breakpoint($phone-landscape) {
    max-width: rem($phone-landscape) - rem($base-spacing);
  } // phone-landscape
  
  @include breakpoint($tablet) {
    max-width: rem($tablet) - rem($base-spacing);
  } // tablet
  
  @include breakpoint($desktop) {
    max-width: rem($desktop) - rem($base-spacing);
  } // desktop
  
  @include breakpoint($desktop-md) {
    max-width: rem($desktop-md) - rem($base-spacing);
  } // desktop-md
  
  @include breakpoint($desktop-lg) {
    max-width: rem($desktop-lg) - rem($base-spacing);
  } // desktop-lg
  
  h1 {
    @include single-text-shadow;
    color: colour(white);
    font-family: $base-font-family;
    font-size: rem(40);
    font-weight: 700;
    letter-spacing: rem(-2);
    line-height: rem(17.5);
    
    @include breakpoint($phone-landscape) {
      font-size: rem(60);
    } // phone-landscape
    
    @include breakpoint($desktop) {
      font-size: rem(90);
    } // desktop

  } // h1
  
  hr {
    @include single-text-shadow;
    border: 1px solid colour(white);
    border-width: 0 0 1px 0;
    margin: 0 0 $base-spacing 0;
    width: 80%;
  }
  
  p {
    @include single-text-shadow;
    border-bottom: rem(1) solid colour(white);
    color: colour(dark-grey);
    font-family: $heading-font-family;
    font-size: rem(14);
    line-height: rem(30.5);
    padding-bottom: $base-spacing;
    width: 60%;
    
    @include breakpoint($tablet) {
      font-size: rem(18);
    } // tablet
    
    a {
      @include link-colors(colour(highlight), colour(hover), colour(white), colour(white), colour(hover));
      outline: none;
    } // a link-colors($normal, $hover, $active, $visited, $focus)

  } // p
  
  em {
    color: colour(highlight);
  } // em
  
} // .hero