$base-font-family:               'Open Sans', sans-serif;
$heading-font-family:            'Hind', sans-serif;
$icon-font:                      'FontAwesome';

$base-font-color:                rgba(colour(dark-grey),1);

$base-font-size:                 1em;
$base-font-weight:               400;
$heading-font-weight:            500;

$base-line-height:               1.45;
$heading-line-height:            1.2;

$base-spacing:                   $base-line-height * 1em;
$small-spacing:                  $base-spacing / 2;

$default-text-shadow-color:      rgba(colour(dark-grey), 0.8);
$default-text-shadow-blur:       3px;
$default-text-shadow-v-offset:   1px;
