$colour: (
  white:                #ffffff,
  black:                #000001,

  dark-grey:            #2b2b2b,
  medium-grey:          #444444,
  grey:                 #d3d3d3, // Doesn't pass accessibility
  light-grey:           #EBEEEE,
  highlight:            #F06000,
  hover:                #11ABB0,
  
);

@function colour($key) {
  @if map-has-key($colour, $key) {
  @return map-get($colour, $key)
  }
  @warn "Unknown #{key} in $colours.";
  @return null;
}

/* For each key in the map, created an own class */
@each $name, $value in $colour {
  .#{$name}-background {
    background-color: $value;
  }
}

.dark-grey-background {
  background-color: colour(dark-grey);
  color: colour(grey);
  
  h1,h2,h3,h4,h5,h6 {
    color: colour(white);
  }
  
} // .dark-grey-background