$z-index: (
  "heaven":         10000,
  "way-above":      1000,
  "up-above":       100,
  "above":          10,
  "default":        0,
  "below":          -10,
  "down-below":     -100,
  "way-below":      -1000,
  "hell":           -10000
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}