@mixin corners($colour) {
  
  :after,
  :before {
    border: 1px solid $colour;
    content: " ";
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
  } // :after, :before
  
  :after {
    border-left-width: 0;
    border-top-width: 0;
    bottom: 10px;
    right: 10px;
  } // :after
  
  :before {
    border-bottom-width: 0;
    border-right-width: 0;
    left: 10px;
    top: 10px;
  } // :before
     
} // .corners