//-----------------------------------------------
//
//  Table of Contents
//
//  Breakpoints
//  Grid
//  PNG Backgrounds
//  Social Media
//  Resets
//  Links
//  Generic
//
//-----------------------------------------------

// Grid------------------------------------------

@include add-grid(12);
@include add-gutter(1/3);

// Set the basics of the layout
// $column:                      145px !global;
// $gutter:                      25px !global;
// $grid-columns:                8;
// $max-width:                   $desktop-lg !default; 
// $menu-width:                  145px;
// $scroll-bar-width:            20px;

// Breakpoints-----------------------------------

$phone-portrait:    320px;      
$phone-landscape:   480px;    
$tablet:            768px;  
$desktop:           1024px; 
$desktop-md:        1140px;
$desktop-lg:        1280px;

// PNG Backgrounds-------------------------------

$rgbapng_path: 'png-backgrounds';
$rgbapng_px_size: 2;

// Social Media----------------------------------

$social-media: (
  bitbucket:                  "\f171",
  google:                     "\f0d5",
  linkedin:                   "\f0e1",
  instagram:                  "\f16d",
  twitter:                    "\f099",
);

// Resets----------------------------------------

* {
  @include box-sizing(border-box);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  overflow-y: scroll;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Links-----------------------------------------

a {

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: rgba(colour(white),1);
    text-decoration: none;
  } // pseudo selectors

} // a

// Generic---------------------------------------

html {font-size: $base-font-size;}

body {

  @include breakpoint($phone-landscape) {
  } // phone-landscape
  
  @include breakpoint($tablet) {
  } // tablet
  
  @include breakpoint($desktop) {
  } // desktop
  
  @include breakpoint($desktop-md) {
  } // desktop-md
  
  @include breakpoint($desktop-lg) {
  } // desktop-lg

} // body

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: $base-spacing 0 $small-spacing;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2 {font-size: 2.827rem;}

h3 {font-size: 1.999rem;}

h4 {font-size: 1.414rem;}

p {
  font-family: $base-font-family;
  margin-bottom: $base-spacing;
}

small, .font_small {font-size: 0.707rem;}