@charset "UTF-8";
/* No files to import found in third-party/**\/* */
.centred { margin: 0 auto; }

/* For each key in the map, created an own class */
.white-background { background-color: #ffffff; }

.black-background { background-color: #000001; }

.dark-grey-background { background-color: #2b2b2b; }

.medium-grey-background { background-color: #444444; }

.grey-background { background-color: #d3d3d3; }

.light-grey-background { background-color: #EBEEEE; }

.highlight-background { background-color: #F06000; }

.hover-background { background-color: #11ABB0; }

.dark-grey-background { background-color: #2b2b2b; color: #d3d3d3; }
.dark-grey-background h1, .dark-grey-background h2, .dark-grey-background h3, .dark-grey-background h4, .dark-grey-background h5, .dark-grey-background h6 { color: #ffffff; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html { overflow-y: scroll; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a:link, a:visited, a:hover, a:active, a:focus { color: white; text-decoration: none; }

html { font-size: 1em; }

h1, h2, h3, h4 { font-family: "Hind", sans-serif; font-weight: 500; line-height: 1.2; margin: 1.45em 0 0.725em; }

h1 { margin-top: 0; font-size: 3.998rem; }

h2 { font-size: 2.827rem; }

h3 { font-size: 1.999rem; }

h4 { font-size: 1.414rem; }

p { font-family: "Open Sans", sans-serif; margin-bottom: 1.45em; }

small, .font_small { font-size: 0.707rem; }

.container { -webkit-align-items: center; align-items: center; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; -webkit-justify-content: center; justify-content: center; margin: 0 auto; max-width: 19.90938rem; }
@media (min-width: 480px) { .container { max-width: 29.90938rem; } }
@media (min-width: 768px) { .container { max-width: 47.90938rem; } }
@media (min-width: 1024px) { .container { max-width: 63.90938rem; } }
@media (min-width: 1140px) { .container { max-width: 71.15938rem; } }
@media (min-width: 1280px) { .container { max-width: 79.90938rem; } }

#home { -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-attachment: scroll; background-color: #2b2b2b; background-image: url(//res.cloudinary.com/jamie-scott-co-uk/image/upload/c_scale,w_2650/v1459429988/backgrounds/misty-pines.jpg); background-position: top center; background-repeat: no-repeat; position: relative; height: 100vh; min-height: 500px; overflow: hidden; text-align: center; width: 100%; }

#primary-navigation { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; background-color: transparent; font-family: "Open Sans", sans-serif; font-size: 0.75rem; font-weight: 700; letter-spacing: 0.15625rem; position: relative; text-transform: uppercase; }
@media (min-width: 768px) { #primary-navigation { background-color: #2b2b2b; } }
#primary-navigation input[type="checkbox"] { -moz-transform: translateX(-10000px); -ms-transform: translateX(-10000px); -webkit-transform: translateX(-10000px); transform: translateX(-10000px); }
#primary-navigation input[type="checkbox"]:checked ~ ul { -webkit-align-items: flex-start; align-items: flex-start; display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; background-color: #2b2b2b; display: block; height: auto; padding: 0.725em 1.45em; position: absolute; right: 48px; top: 58px; }
#primary-navigation input[type="checkbox"] ~ ul { display: none; }
@media (min-width: 768px) { #primary-navigation input[type="checkbox"] ~ ul { -webkit-align-items: center; align-items: center; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; -webkit-justify-content: center; justify-content: center; min-height: 3rem; position: initial; } }
#primary-navigation input[type="checkbox"] ~ ul li { padding: 1.45em; }
@media (min-width: 768px) { #primary-navigation input[type="checkbox"] ~ ul li { padding: 0.725em 1.45em; } }
#primary-navigation input[type="checkbox"] ~ ul li a { color: #ffffff; outline: none; }
#primary-navigation input[type="checkbox"] ~ ul li a:visited { color: #ffffff; }
#primary-navigation input[type="checkbox"] ~ ul li a:focus { color: #11ABB0; }
#primary-navigation input[type="checkbox"] ~ ul li a:hover { color: #11ABB0; }
#primary-navigation input[type="checkbox"] ~ ul li a:active { color: #F06000; }
#primary-navigation input[type="checkbox"] ~ ul li.current a { color: #F06000; cursor: pointer; }
#primary-navigation input[type="checkbox"] ~ ul li.current a:visited { color: #F06000; }
#primary-navigation input[type="checkbox"] ~ ul li.current a:focus { color: #11ABB0; }
#primary-navigation input[type="checkbox"] ~ ul li.current a:hover { color: #F06000; }
#primary-navigation input[type="checkbox"] ~ ul li.current a:active { color: #F06000; }
#primary-navigation label { text-indent: -119988px; overflow: hidden; text-align: left; text-transform: capitalize; background-color: #F06000; cursor: pointer; display: block; height: 48px; position: absolute; right: 48px; top: 0; width: 48px; }
@media (min-width: 768px) { #primary-navigation label { display: none; } }
#primary-navigation label:before { border: 1px solid #ffffff; border-width: 4px 0; content: " "; display: block; height: 15px; left: 9px; position: absolute; top: 13px; width: 30px; }
#primary-navigation label:hover:before { border-color: #11ABB0; }

.hero { -webkit-align-items: center; align-items: center; display: -webkit-flex; display: flex; -webkit-flex-flow: column wrap; flex-flow: column wrap; -webkit-justify-content: center; justify-content: center; height: 100vh; margin: 0 auto; max-width: 19.90938rem; }
@media (min-width: 480px) { .hero { max-width: 29.90938rem; } }
@media (min-width: 768px) { .hero { max-width: 47.90938rem; } }
@media (min-width: 1024px) { .hero { max-width: 63.90938rem; } }
@media (min-width: 1140px) { .hero { max-width: 71.15938rem; } }
@media (min-width: 1280px) { .hero { max-width: 79.90938rem; } }
.hero h1 { text-shadow: 0px 1px 3px rgba(43, 43, 43, 0.8); color: #ffffff; font-family: "Open Sans", sans-serif; font-size: 2.5rem; font-weight: 700; letter-spacing: -0.125rem; line-height: 1.09375rem; }
@media (min-width: 480px) { .hero h1 { font-size: 3.75rem; } }
@media (min-width: 1024px) { .hero h1 { font-size: 5.625rem; } }
.hero hr { text-shadow: 0px 1px 3px rgba(43, 43, 43, 0.8); border: 1px solid #ffffff; border-width: 0 0 1px 0; margin: 0 0 1.45em 0; width: 80%; }
.hero p { text-shadow: 0px 1px 3px rgba(43, 43, 43, 0.8); border-bottom: 0.0625rem solid #ffffff; color: #2b2b2b; font-family: "Hind", sans-serif; font-size: 0.875rem; line-height: 1.90625rem; padding-bottom: 1.45em; width: 60%; }
@media (min-width: 768px) { .hero p { font-size: 1.125rem; } }
.hero p a { color: #F06000; outline: none; }
.hero p a:visited { color: #ffffff; }
.hero p a:focus { color: #11ABB0; }
.hero p a:hover { color: #11ABB0; }
.hero p a:active { color: #ffffff; }
.hero em { color: #F06000; }

.scroll-arrow { text-indent: -119988px; overflow: hidden; text-align: left; text-transform: capitalize; color: #ffffff; display: block; height: 2.8125rem; outline: none; position: relative; width: 2.8125rem; }
.scroll-arrow:visited { color: #ffffff; }
.scroll-arrow:focus { color: #11ABB0; }
.scroll-arrow:hover { color: #11ABB0; }
.scroll-arrow:active { color: #F06000; }
.scroll-arrow:after { text-shadow: 0px 1px 3px rgba(43, 43, 43, 0.8); content: "\f13a"; display: block; font-family: "FontAwesome"; font-size: 2.8125rem; height: 2.8125rem; left: 0; text-indent: 0.25rem; position: absolute; top: 0; width: 2.8125rem; }

.social-links { display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; -webkit-justify-content: center; justify-content: center; text-shadow: 0px 1px 3px rgba(43, 43, 43, 0.8); font-size: 1.875rem; margin-bottom: 1.45em; }
.social-links li { margin-left: 1.875rem; }
.social-links li:first-of-type { margin-left: 0; }
.social-links a { text-indent: -119988px; overflow: hidden; text-align: left; text-transform: capitalize; color: #ffffff; display: block; height: 1.875rem; outline: none; position: relative; width: 1.875rem; }
.social-links a:visited { color: #ffffff; }
.social-links a:focus { color: #11ABB0; }
.social-links a:hover { color: #11ABB0; }
.social-links a:active { color: #F06000; }
.social-links a[href*="bitbucket"]:after { content: ""; display: block; font-family: "FontAwesome"; height: 1.875rem; left: 0; text-indent: 0.25rem; position: absolute; top: 0; width: 1.875rem; }
.social-links a[href*="google"]:after { content: ""; display: block; font-family: "FontAwesome"; height: 1.875rem; left: 0; text-indent: 0.25rem; position: absolute; top: 0; width: 1.875rem; }
.social-links a[href*="linkedin"]:after { content: ""; display: block; font-family: "FontAwesome"; height: 1.875rem; left: 0; text-indent: 0.25rem; position: absolute; top: 0; width: 1.875rem; }
.social-links a[href*="instagram"]:after { content: ""; display: block; font-family: "FontAwesome"; height: 1.875rem; left: 0; text-indent: 0.25rem; position: absolute; top: 0; width: 1.875rem; }
.social-links a[href*="twitter"]:after { content: ""; display: block; font-family: "FontAwesome"; height: 1.875rem; left: 0; text-indent: 0.25rem; position: absolute; top: 0; width: 1.875rem; }

@-moz-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
@-moz-keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0; } }
@-webkit-keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0; } }
@keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0; } }

/*# sourceMappingURL=main.css.map */
