.container {
  @include align-items(center);
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(center);
  margin: 0 auto;
  max-width: rem($phone-portrait) - rem($base-spacing);
  
  @include breakpoint($phone-landscape) {
    max-width: rem($phone-landscape) - rem($base-spacing);
  } // phone-landscape
  
  @include breakpoint($tablet) {
    max-width: rem($tablet) - rem($base-spacing);
  } // tablet
  
  @include breakpoint($desktop) {
    max-width: rem($desktop) - rem($base-spacing);
  } // desktop
  
  @include breakpoint($desktop-md) {
    max-width: rem($desktop-md) - rem($base-spacing);
  } // desktop-md
  
  @include breakpoint($desktop-lg) {
    max-width: rem($desktop-lg) - rem($base-spacing);
  } // desktop-lg
  
} // .container