#home {
  @include background-size(cover);
  background-attachment: scroll;
  background-color: colour(dark-grey);
  background-image: url(//res.cloudinary.com/jamie-scott-co-uk/image/upload/c_scale,w_2650/v1459429988/backgrounds/misty-pines.jpg); 
  background-position: top center;
  background-repeat: no-repeat; 
  position: relative;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
  text-align: center;
  width: 100%;
} // home