#primary-navigation {
  @include display-flex;
  @include justify-content(center);
  background-color: transparent;
  font-family: $base-font-family;
  font-size: rem(12);
  font-weight: 700;
  letter-spacing: rem(2.5);
  position: relative;
  text-transform: uppercase;

  @include breakpoint($phone-landscape) {
  } // phone-landscape
  
  @include breakpoint($tablet) {
    background-color: colour(dark-grey);
  } // tablet
  
  @include breakpoint($desktop) {
  } // desktop
  
  @include breakpoint($desktop-md) {
  } // desktop-md
  
  @include breakpoint($desktop-lg) {
  } // desktop-lg
  
  input[type="checkbox"] {
    @include transform(translateX(-10000px));
    
    &:checked {
      
      & ~ ul {
        @include align-items(flex-start);
        @include display-flex;
        @include flex-direction(column);
        //@include opacity(1);
        //@include transition(opacity 0.2s ease-in);
        background-color: colour(dark-grey);
        display: block; // must be a better way to hide this without screwing accessibility up
        height: auto;    
        padding: $small-spacing $base-spacing;
        position: absolute;
        right: 48px;
        top: 58px;
        
        li {
          
        } // li
        
      } // ~ ul
      
    } // :checked
    
    & ~ ul {
      // @include opacity(0); // must be a better way to hide this without screwing accessibility up
      //@include transition(opacity 0.2 ease-in);
      display: none;
      
      @include breakpoint($tablet) {
        @include align-items(center);
        @include display-flex;
        @include flex-flow(row wrap);
        @include justify-content(center);
        // @include opacity(1); // must be a better way to hide this without screwing accessibility up
        // @include transition(opacity 0.2 ease-in);
        min-height: rem(48);
        position: initial;
      } // tablet
      
      li {
        padding: $base-spacing;
    
        @include breakpoint($tablet) {
          padding: $small-spacing $base-spacing;
        } // tablet
        
        a {
          @include link-colors(colour(white), colour(hover), colour(highlight), colour(white), colour(hover));
          outline: none;
        } // a link-colors($normal, $hover, $active, $visited, $focus)
        
        &.current {
          
          a {
            @include link-colors(colour(highlight), colour(highlight), colour(highlight), colour(highlight), colour(hover));
            cursor: pointer;
          } // a
          
        } // .current
        
      } // li
      
    } // ul
    
  } // checkbox
  
  label {
    @include hide-text;
    background-color: colour(highlight);
    cursor: pointer;
    display: block;
    height: 48px;
    position: absolute;
    right: 48px;
    top: 0;
    width: 48px;
    
    @include breakpoint($tablet) {
      display: none;
    } // tablet
    
    &:before {
      border: 1px solid colour(white);
      border-width: 4px 0;
      content: " ";
      display: block;
      height: 15px;
      left: 9px;
      position: absolute;
      top: 13px;
      width: 30px;
    } // before
    
    &:hover {
      
      &:before {
        border-color: colour(hover);
      } // :before
      
    } // hover
    
  } // label
    
} // primary-navigation